<!-- adminDashboard.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <title>Admin Dashboard</title>

    <!-- Favicon -->
    <link
        rel="icon"
        type="image/png"
        th:href="@{/assets/images/logo/logo.png}"
    />

    <!-- Stylesheets -->
    <link
        rel="stylesheet"
        th:href="@{/assets/css/adminDashboard.css}"
    />

    <link
        rel="stylesheet"
        th:href="@{/assets/css/style.css}"
    />

    <!-- Utility JavaScript -->
    <script
        th:src="@{/js/render.js}"
        defer>
    </script>

    <script
        th:src="@{/js/util.js}"
        defer>
    </script>

    <!-- Components -->
    <script
        th:src="@{/js/components/header.js}"
        defer>
    </script>

    <script
        th:src="@{/js/components/footer.js}"
        defer>
    </script>
</head>


<body onload="renderContent()">

    <div class="container">

        <div class="wrapper">

            <!-- Header rendered dynamically -->
            <div id="header"></div>


            <!-- Main Dashboard Content -->
            <main class="main-content">

                <!-- Search Bar -->
                <div class="search-wrapper">
                    <input
                        type="text"
                        id="searchBar"
                        class="searchBar"
                        placeholder="Search by doctor name"
                    />
                </div>


                <!-- Filters -->
                <div class="filter-wrapper">

                    <!-- Time Filter -->
                    <select
                        id="filterTime"
                        class="filter-select"
                    >
                        <option value="">All Times</option>
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>


                    <!-- Specialty Filter -->
                    <select
                        id="filterSpecialty"
                        class="filter-select"
                    >
                        <option value="">All Specialties</option>
                        <option value="Cardiologist">Cardiologist</option>
                        <option value="Dentist">Dentist</option>
                        <option value="Dermatologist">Dermatologist</option>
                        <option value="Neurologist">Neurologist</option>
                        <option value="Pediatrician">Pediatrician</option>
                        <option value="General Physician">General Physician</option>
                    </select>

                </div>


                <!-- Doctor Cards / Dynamic Content -->
                <div id="content"></div>

            </main>


            <!-- Footer rendered dynamically -->
            <div id="footer"></div>

        </div>

    </div>


    <!-- Add Doctor / Information Modal -->
    <div
        id="modal"
        class="modal"
        style="display: none;"
    >

        <div class="modal-content">

            <!-- Close Modal -->
            <span
                id="closeModal"
                class="close"
            >
                &times;
            </span>

            <!-- Dynamic Modal Content -->
            <div id="modal-body"></div>

        </div>

    </div>


    <!-- Page-Specific JavaScript -->
    <script
        type="module"
        th:src="@{/js/adminDashboard.js}"
        defer>
    </script>

    <script
        type="module"
        th:src="@{/js/components/doctorCard.js}"
        defer>
    </script>

</body>

</html>
