<!-- doctorDashboard.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <title>Doctor Dashboard</title>

    <!-- Favicon -->
    <link
        rel="icon"
        type="image/png"
        th:href="@{/assets/images/logo/logo.png}"
    />

    <!-- Stylesheets -->
    <link
        rel="stylesheet"
        th:href="@{/assets/css/adminDashboard.css}"
    />

    <link
        rel="stylesheet"
        th:href="@{/assets/css/doctorDashboard.css}"
    />

    <link
        rel="stylesheet"
        th:href="@{/assets/css/style.css}"
    />

    <!-- Common JavaScript -->
    <script
        th:src="@{/js/render.js}"
        defer>
    </script>

    <script
        th:src="@{/js/util.js}"
        defer>
    </script>

    <!-- Components -->
    <script
        th:src="@{/js/components/header.js}"
        defer>
    </script>

    <script
        th:src="@{/js/components/footer.js}"
        defer>
    </script>

    <!-- Doctor Dashboard Logic -->
    <script
        type="module"
        th:src="@{/js/services/doctorDashboard.js}"
        defer>
    </script>

</head>


<body onload="renderContent()">

    <div class="container">

        <div class="wrapper">

            <!-- Header rendered dynamically -->
            <div id="header"></div>


            <!-- Main Content -->
            <div class="main-content">

                <!-- Search Bar -->
                <div class="search-wrapper">

                    <input
                        type="text"
                        id="searchBar"
                        class="searchBar"
                        placeholder="Search Bar for custom output"
                    />

                </div>


                <!-- Appointment Filters -->
                <div class="filter-wrapper">

                    <!-- Today's Appointments -->
                    <button
                        id="todayButton"
                        type="button"
                    >
                        Today's Appointments
                    </button>


                    <!-- Date Filter -->
                    <input
                        type="date"
                        id="datePicker"
                    />

                </div>


                <!-- Patient Table -->
                <div class="table-wrapper">

                    <table id="patientTable">

                        <thead>

                            <tr>
                                <th>Patient ID</th>
                                <th>Name</th>
                                <th>Phone No.</th>
                                <th>Email</th>
                                <th>Prescription</th>
                            </tr>

                        </thead>

                        <tbody id="patientTableBody">
                            <!-- Patient rows will be inserted dynamically -->
                        </tbody>

                    </table>

                </div>

            </div>


            <!-- Footer rendered dynamically -->
            <div id="footer"></div>

        </div>

    </div>

</body>

</html>